body {
    background-color: #313131;
    margin: 0;
}

h3 {
    color: #fafafa;
    Padding: 5 5 5 5px;
}

h4 {
    color: #eeb007;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    margin-top: 0px;
}

.form {
    color: #dd6a0b;
}

hr {
    background-color: #10f1a6;
    border-style: none;
    height: 3px;
    width: 344px;
}

.linkshr {
    background-color: #ffffff;
    border-style: none;
    height: 2px;
    width: 250px;
}

#footer {
    color: #cccccc;
    font-size: 13px;
    font-weight: bold;
    margin: 15px;
    margin-top: 0px;
}

a {
    color: #00fce7;
}

.toplinks {
    padding: 10px;
}

.content {
    width: 350px;
    margin: auto;
    padding: 10px;
}

.links {
    text-align: center;
    font-style: italic;
    margin: auto;
    padding: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.abouttablebody {
    text-align: center;
    color: #ffffff;
}

.thead {
    text-align: center;
    color: #ffc400;
}

.abouttable {
    border: #cccccc;
    border-width: 2px;
    text-align: center;
    border-style: dashed;
}

.aboutfblinks {
    color: #40a5f8;
}

td {
    font-size: 13px;
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.homepage {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.homebtn {
    background-color: #85ff81;
    color: #414141c7;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 75px;
    border-radius: 8px;
    display: inline-block;
}

.input {
    background-color: #dfdfdf;
    color: #414141c7;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 8px;
    display: inline-block;
}

.loginbtn {
    background-color: #dfdfdf;
    color: hsl(0, 0%, 0%);
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 8px;
    display: inline-block;
}